@import "tailwindcss";
@import "@neondatabase/neon-js/ui/tailwind";

@theme {
  --font-sans: "Geist", system-ui, sans-serif;

  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-muted: #a1a1aa;
  --color-border: #27272a;
  --color-card: #18181b;
  --color-accent: #a3e635;
  --color-accent-hover: #84cc16;

  /* Map library variables to your theme colors */
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --card: var(--color-card);
  --muted: var(--color-muted);
  --border: var(--color-border);

  /* Fix for Auth Page Colors */
  --primary: var(--color-foreground);
  --primary-foreground: var(--color-background);
  --card-foreground: var(--color-foreground);
  --muted-foreground: var(--color-muted);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-foreground);
  --input: var(--color-border);

}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Overriding better auth skeleton colors */
  [data-slot="skeleton"],
  .animate-pulse {
    background-color: var(--color-border) !important;
  }
}
